{
  "semi": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "objectWrap": "collapse",
  "printWidth": 120,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    { "files": "*.ts", "options": { "parser": "typescript" } },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "singleQuote": false,
        "trailingComma": "none",
        "quoteProps": "preserve",
        "printWidth": 60
      }
    }
  ]
}
